/* Retro Academic Homepage Stylesheet */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.45;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 2em;
    color: #2C2416;
    background: #FEFCF8;
}

h1 {
    font-size: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 0.8em;
    font-weight: normal;
    border-bottom: 1px solid #D4A574;
    padding-bottom: 0.2em;
}

hr {
    border: none;
    border-top: 1px solid #D4A574;
    margin: 2em 0;
    width: 100%;
}

h2:first-of-type {
    margin-top: 1em;
}

h3 {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: normal;
}

p {
    margin: 0.8em 0;
}

ul, ol {
    margin: 0.8em 0;
    padding-left: 2em;
}

li {
    margin: 0.4em 0;
}

a {
    color: #8B4513;
    text-decoration: underline;
}

a:visited {
    color: #A0522D;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid #D4A574;
    max-width: 150px;
}

.headshot {
    float: right;
    margin: 0 0 1em 1em;
}

nav {
    margin: 1.5em 0;
    padding: 0.5em 0;
    border-top: 1px solid #D4A574;
    border-bottom: 1px solid #D4A574;
}

nav a {
    margin-right: 1.5em;
}

footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #D4A574;
    font-size: 0.9em;
    color: #8B7355;
    text-align: center;
}

address {
    font-style: normal;
    margin: 1em 0;
}

small {
    font-size: 0.9em;
    color: #8B7355;
}

tt, .mono {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.95em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table th, table td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #E8D5B7;
}

table th {
    font-weight: normal;
    background: #F5E6D3;
}

details {
    margin: 0.5em 0;
}

summary {
    cursor: pointer;
    color: #8B4513;
    font-size: 0.9em;
}

summary:hover {
    text-decoration: underline;
}

pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.85em;
    background: #F5E6D3;
    padding: 1em;
    overflow-x: auto;
    border: 1px solid #E8D5B7;
}

.contact-block {
    margin: 1em 0;
}

.news-item {
    margin: 0.5em 0;
}

.publication-item {
    margin: 1em 0;
}

.publication-links {
    font-size: 0.9em;
    margin-top: 0.3em;
}

.publication-links a {
    margin-right: 0.8em;
}

@media print {
    body {
        color: #000;
        background: #fff;
    }
    
    a {
        color: #000;
        text-decoration: underline;
    }
    
    a:visited {
        color: #000;
        text-decoration: underline;
    }
    
    nav {
        display: none;
    }
    
    img {
        border: 1px solid #000;
    }
    
    hr {
        border-top: 1px solid #000;
    }
}

@media (max-width: 600px) {
    body {
        padding: 1em;
    }
    
    .headshot {
        float: none;
        display: block;
        margin: 1em auto;
    }
}


